@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+Adlam+Unjoined&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Noto+Sans+Adlam+Unjoined&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Noto+Sans+Adlam+Unjoined&family=Varela+Round&display=swap');

$def-textColor: #671edf;
$def-lightTextColor: #651cdf;

.text-uniform {color: $def-lightTextColor}

$bg-dark: #a4a3a2;
$bg-black: #010001;
$white: #fff;
$offwhite: #fbfbfb;

.spacial { color: $def-lightTextColor;}

.logo {
  align-self: end;
  font-size: 26px;
  font-weight: bolder;
  font-family: 'Noto Sans Adlam Unjoined', sans-serif;
  font-family: 'Lobster', cursive;
  span {
    color: $def-textColor;
  }
}

.main-nav {
  .logo {
    align-self: end;
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-family: 'Lobster', cursive;
  
    span {
      color: $def-textColor;
    }
  }

  .search-container {
    display: flex;
    width: 800px;
    border: 1.5px solid #afb0afdd;
    justify-content: space-between;
    padding: 9px;
    color: #afb0af;
    border-radius: 10px;
    input {
      border: none;
      // width: fill-available;
      width: -webkit-fill-available;
    }
    input:focus {
      outline: none;
    }
  }

  .navItems {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    a {
      color: $bg-dark;
      text-decoration: none;
      padding: 5px;
    }
    a:hover {
      color: $def-lightTextColor;
      transition: 0.5s ease-in-out;
    }
  }

  .nav-icons {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      background: #d1bcf5;
      margin: 5px;
      border-radius: 50%;
      width: -webkit-fit-content;
      i {
        color: $def-textColor;
        cursor: pointer;
      }
  }
}

.body {
  .first-section {
    background: $offwhite;
    .sec-aside {
      // font-family: 'Exo 2', sans-serif;
      // font-family: 'Varela Round', sans-serif;
      // font-family: 'Noto Sans Adlam Unjoined', sans-serif;
      
      line-height: 1.6px;
      h1 {
        font-weight: bolder;
        font-family: 'Noto Sans Adlam Unjoined', sans-serif;
        font-family: 'Exo 2', sans-serif;
        font-size: 65px;
      }
      .button-set {
        background: $def-textColor;
        padding: 15px;
        font-weight: bolder;
        border-radius: 10px;
        font-size: 20px;
        margin: 5px;
        width: 200px;
      }
      .button-set:hover {
        border: 2px solid $def-textColor;
        background: #e2ecf3;
        color: #a77dec;       
        border-radius: 10px;
      }

      .button-sett {
        border: 2px solid $def-textColor;
        background: #e2ecf3;
        color: #a77dec;       
        border-radius: 10px;
        padding: 15px;
        font-weight: bolder;
        font-size: 20px;
        margin: 5px;
        width: 200px;
      }
      .button-sett:hover {
        background: $def-textColor;
        border-radius: 10px;
        color: #fff;
      }
    }
    .peak {
      margin-top: 20px;
      padding: 80px;
      transition: background-color 0.4s ease;
      background: linear-gradient(#f09c2f4e, #f6e0a4), url(./../img/alena.png);
      // background: linear-gradient(#040b0fb9, #f6e0a4), url(./../img/alena.png);
      // box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
      box-shadow: 0 0 8px 8px white inset;
      background-size: 100% 100%;
      // background: url('./../img/alena.png');
      background-repeat: no-repeat;
      background-position: center;
      // background-size: inherit;
      justify-content: right;
      align-items: center;
      .lead-aside {
        align-items: flex-end;
        .item-lead-aside {
          text-align: start;
          text-transform: capitalize;
          border: 2px solid #d1bcf5;
          border-image: linear-gradient(35deg,#a77dec,#f6e0a4) 10;
          background: rgba(89, 46, 46, 0.414);
          font-family: 'Courier New', Courier, monospace;
          color: #fff;
          font-weight: bolder;
          width: fit-content;
          padding: 10px;
          .love-item-lead-asid {
            .love-item-lead-aside {
              font-size: 16px;
              background: linear-gradient(#a77dec, #f6e0a4 ) ;
              color: #fff;
              border-radius: 20px;
              padding: 10px;
            }
          }
        }
      }
    }
    .back-icon {
      text-align: center;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      background: #decefb;
      color: #681ce6;
      border: 1px solid #681ce6;
      font-size: 20px;
      border-radius: 50%;
    }
    .back-icon:hover {
      background: #681ce6;
      color: #decefb;
    }
  }
  .second-section {
    background: $white;
    width: 100%;
    .lead-header {
      text-transform: capitalize;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      padding: 0;
      margin: 0;
      display: flex;
      .icon-check {
        color: #651cdf;
      }
    }
    .outter-scroll {
      max-width: 100vw;
      overflow-x: scroll;
      position: relative;
      scrollbar-color: #651cdf #651cdf;
      scrollbar-width: thin;
      -ms-overflow-style: none;
      .inner-scroll{
        display: flex;
        .card {
          transition: 0.5s ease-in-out;
          flex-shrink: 0;
          margin: 20px;
          border: none;
          background: #fbfbfb;
          width: 20rem;
          .card-img-top {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.042)!important;
            height: 320px;
            width: 320px;
          }
          .card-body {
            .avatars {
              display: flex;
              align-items: center;
              list-style-type: none;
              margin: auto;
              padding: 0;
              flex-direction: row;
              &__item {
                border: 2px solid #fdfdfd;
                border-radius: 100%;
                color: #ffffff;
                display: block;
                font-family: sans-serif;
                font-size: 12px;
                font-weight: 100;
                height: 45px;
                width: 45px;
                line-height: 45px;
                text-align: center;
                transition: margin 0.1s ease-in-out;
                overflow: hidden;
                margin-left: -10px;
              }
            }
          }
        }
      }
      .card:hover {
        cursor: pointer;
        transition: 0.5s ease-in-out;
        box-shadow: 0 .8rem 2rem rgba(0,0,0,.15)!important;
      }
    }
    .outter-scroll::-webkit-scrollbar {
      height: 5px;
    }
    
    .outter-scroll::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    }
    
    .outter-scroll::-webkit-scrollbar-thumb {
      height: 5px;
      background-color: #651cdf;
    }
  }
  .thrid-section {
    background: $offwhite;
    width: 100%;
    .lead-header {
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
    }
    .outer-set {
      max-width: 100vw;
      overflow-x: scroll;
      position: relative;
      scrollbar-color: #651cdf #651cdf;
      scrollbar-width: thin;
      -ms-overflow-style: none;
      .inner-set {
        display: flex;
        .card {
          margin: 20px;
          flex-shrink: 0;
          transition: .5s ease-in-out;
          cursor: pointer;
          background: $white;
          width: 25rem;
          .icon-group {
            display: flex;
            justify-content: space-between;
            .icon {
              width: 70px;
            }
          }
          h5 {
            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
          }
        }
        .card:hover {
          transition: .5s ease-in-out;
          box-shadow: 0 .7rem 2rem rgba(0,0,0,.15)!important;
        }
      }
    }
    .outer-set::-webkit-scrollbar {
      height: 5px;
    }
    .outer-set::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    }
    .outer-set::-webkit-scrollbar-thumb {
      height: 5px;
      background-color: #651cdf;
    }
  }
  .forth-section {
    background: $white;
    width: 100%;
    .lead-header {
      text-transform: capitalize;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      padding: 0;
      margin: 0;
      display: flex;
      .icon-check {
        color: #651cdf;
      }
    }
    .outter-scroll {
      max-width: 100vw;
      overflow-x: scroll;
      position: relative;
      scrollbar-color: #651cdf #651cdf;
      scrollbar-width: thin;
      -ms-overflow-style: none;
      .inner-scroll{
        display: flex;
        .card {
          transition: 0.5s ease-in-out;
          flex-shrink: 0;
          margin: 10px;
          border: none;
          background: #fbfbfb;
          width: 20rem;
          .card-img-top {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.042)!important;
            height: 320px;
            width: 320px;
          }
          .card-body {
            .avatars {
              display: flex;
              align-items: center;
              list-style-type: none;
              margin: auto;
              padding: 0;
              flex-direction: row;
              &__item {
                border: 2px solid #fdfdfd;
                border-radius: 100%;
                color: #ffffff;
                display: block;
                font-family: sans-serif;
                font-size: 12px;
                font-weight: 100;
                height: 45px;
                width: 45px;
                line-height: 45px;
                text-align: center;
                transition: margin 0.1s ease-in-out;
                overflow: hidden;
                margin-left: -10px;
              }
            }
          }
        }
      }
      .card:hover {
        cursor: pointer;
        transition: 0.5s ease-in-out;
        box-shadow: 0 .8rem 2rem rgba(0,0,0,.15)!important;
      }
    }
    .outter-scroll::-webkit-scrollbar {
      height: 5px;
    }
    
    .outter-scroll::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    }
    
    .outter-scroll::-webkit-scrollbar-thumb {
      height: 5px;
      background-color: transparent;
    }
  }
  .fifth-section {
    background: $white;
    width: 100%;
    text-align: center;
    .lead-header {
      text-transform: capitalize;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      padding: 0;
      margin: 0;
      display: flex;
      .icon-check {
        color: #651cdf;
      }
    }
    .outter-scroll {
      text-align: start;
      max-width: 100vw;
      overflow-x: scroll;
      position: relative;
      scrollbar-color: #ffffff #ffffff;
      scrollbar-width: thin;
      -ms-overflow-style: none;
      .inner-scroll{
        display: flex;
        .card {
          transition: 0.5s ease-in-out;
          flex-shrink: 0;
          margin: 10px;
          border: none;
          background: #fbfbfb;
          width: 20rem;
          .card-img-top {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.042)!important;
            height: 320px;
            width: 320px;
          }
          .card-body {
            .avatars {
              display: flex;
              align-items: center;
              list-style-type: none;
              margin: auto;
              padding: 0;
              flex-direction: row;
              &__item {
                border: 2px solid #fdfdfd;
                border-radius: 100%;
                color: #ffffff;
                display: block;
                font-family: sans-serif;
                font-size: 12px;
                font-weight: 100;
                height: 45px;
                width: 45px;
                line-height: 45px;
                text-align: center;
                transition: margin 0.1s ease-in-out;
                overflow: hidden;
                margin-left: -10px;
              }
            }
          }
        }
      }
      .card:hover {
        cursor: pointer;
        transition: 0.5s ease-in-out;
        box-shadow: 0 .8rem 2rem rgba(0,0,0,.15)!important;
      }
    }
    .outter-scroll::-webkit-scrollbar {
      height: 5px;
    }
    
    .outter-scroll::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    }
    
    .outter-scroll::-webkit-scrollbar-thumb {
      height: 5px;
      background-color: transparent;
    }
  }
  .six-section {
    background: $white;
    width: 100%;
    text-align: center;
    .lead-header {
      text-transform: capitalize;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      padding: 0;
      margin: 0;
      display: flex;
    }
    .container-fluid {
      .border {
        transition: 0.5s ease-in-out;
        .d-flex {
          .mx-md-3 {
            small {
              font-size: 140px;
              color: #d3d3d3;
              margin-top: -70px;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              text-align: center;
              position: absolute;
            }
            img {
              position: relative;
              width: 80px;
              padding: 5px;
              border-radius: 50%;
              border: 1px double #651cdf ;
            }
          }
          .check {
            position: relative;
          }
        }
      }
      .border:hover {
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        cursor: pointer;
        transition: 0.5s ease-in-out;
      }
    }
  }
  .seventh-section {
    background: #4d064a;
    border-radius: 10px;
    text-align: center;
    width: -webkit-fit-content;
  }
}

.button {
  border: 1px solid #651cdf;
  color: #010001;
}

.button:hover {
  background: #651cdf;
}

.buttn {
  border: 1px solid #651cdf;
  color: #fff;
  background: #651cdf;
}

.buttn:hover {
  border: 1px solid #651cdf;
  color: #000;
  background: #fff;
}